<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MeerkeuzeDB"
			 connectionString="Server=LAPTOP-KOF6V1EN\SQLEXPRESS;Database=meerkeuzeDB;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>